<!-- Top Masthead Ribbon -->
<div class="institutional-masthead-ribbon">
  <div class="content-bound masthead-flex">
    <span class="motto-latin">
      <span class="latin-symbol">✦</span> NASA INTERNATIONAL SPACE APPS CHALLENGE 2026 <span class="latin-symbol">✦</span> TEAM NASA
    </span>
    <div class="masthead-links">
      <a href="#about" class="ribbon-link">Mission Overview</a>
      <span class="ribbon-sep">|</span>
      <a href="#team" class="ribbon-link">Team Roster</a>
      <span class="ribbon-sep">|</span>
      <a href="#project" class="ribbon-link">Project Brief</a>
    </div>
  </div>
</div>
